html {
	scrollbar-face-color: #646464;
	scrollbar-base-color: #646464;
	scrollbar-3dlight-color: #646464;
	scrollbar-highlight-color: #646464;
	scrollbar-track-color: #000;
	scrollbar-arrow-color: #646464;
	scrollbar-shadow-color: #646464;
	scrollbar-dark-shadow-color: #646464;
}
::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button { background-color: transparent;}
::-webkit-scrollbar-track { background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #00001a;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #005c96; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #061082;}
::-webkit-resizer { background-color: #666;}

body {
    background-color: #00001a;
    color: white;
}

.btn {
    background-color:#4ba0eb !important;
}

.dropdown-menu {
    background:#4ba0eb;
}
.container {
    margin:10px auto;
}

.btn-group ul.dropdown-menu {
    max-height: 220px;
    overflow-y: auto;
}

.form-control, .form-control:focus {
    border: 2px solid #584dbf;
    background: none;
    color: #ffffff;
}